<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory Listing</title>
    {{!-- <link rel="stylesheet" href="styles.css"> --}}
</head>
<body>
    <h1>cloud/{{shortPath}}</h1>
    <form enctype="multipart/form-data" method="POST">
        <table id="listing">
            <tbody>
                <tr>
                    <th>Contents</th>
                </tr>
                {{#if dirArray~}}
                    <table>
                        {{~#each dirArray as |item|~}}
                            <tr>
                                <td></td>
                                {{!-- {{#if item.isDir~}}
                                    <td align="center">
                                        <div class="no-button"><img src="images/folder_black_24dp.svg"></div>
                                    </td>
                                {{else~}}
                                    <td align="center">
                                        <input type="hidden" name="command" value="rm">
                                    </td>
                                {{~/if}} --}}
                                <td><a href="{{item.path}}">{{item.name}}</a></td>
                                {{log "The path is " item.path}}
                            </tr>
                        {{~/each~}}
                    </table>
                {{else~}}
                    <h3>Empty Folder</h3>
                {{~/if}}
            </tbody>
        </table>
    </form>

    <form method="POST" enctype="multipart/form-data" id="mkdir">
        <input type="hidden" name="command" value="mkdir">
    </form>
    <form method="POST" enctype="multipart/form-data" id="upload">
        <input type="hidden" name="command" value="upload">
    </form>
    <table class="action">
        <tbody>
        <tr>
            <td>Create folder:</td>
            <td><input type="text" name="dir" form="mkdir" pattern="^\S+$" title="No spaces"></td>
            <td><button type="submit" form="mkdir">Go</button></td>
        </tr>
        <tr>
            <td>Upload file:</td>
            <td><input type="file" name="file" form="upload"></td>
            <td><button type="submit" form="upload">Go</button></td>
        </tr>
        </tbody>
    </table>
</body>
</html>